:root {
    --main-bg: #fff;
    --dark-text: #222;
    --light-text: #fff;
    --accent: #75cce3;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
    color: var(--dark-text);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.page {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 60rem;
}

#top {
    margin: 4rem 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.title {
    float: left;
    font-size: 1.5em;
}

.nav {
    display: flex;
    float: right;
}

.nav>a {
    margin: 0 0.2em;
}